/* Categories */

.list-category {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 99%;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
}

.list-category .list-cat-title {
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-black);
}

.list-category .cat-bar {
    color: var(--color-disabled);
}

.cat-show-all {
    color: var(--color-black);
    letter-spacing: 1px;
    text-decoration: none;
}

.cat-show-all:hover {
    text-decoration: underline;
    color: var(--color-principal);
}

.list-category .cat-show-all,
.list-category .cat-bar {
    display: none;
}

.list-category .categories {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.categories .cat-title {
    font-size: 1rem;
}

.categories .cat {
    margin: auto 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.categories .cat.cat-1 {
    margin-left: 0;
}

.categories .cat.cat-5 {
    margin-right: 0;
}

.categories .cat.cat-7,
.categories .cat.cat-6 {
    display: none;
}

.cat .cat-circle {
    width: 16vw;
    height: 16vw;
    background-color: red;
    margin-bottom: 0.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
}

@media screen and (min-width:768px) {
    .list-category {
        width: 90%;
    }
    .cat .cat-circle {
        max-width: 130px;
        max-height: 130px;
    }
    .categories .cat-title {
        font-size: 1.1rem;
    }
    .list-category .cat-show-all,
    .list-category .cat-bar {
        display: inline-block;
        margin: 0 10px 0 10px;
        font-size: 1.2rem;
    }
    .list-category .list-cat-title {
        margin-right: 10px;
        cursor: auto;
    }
}

@media screen and (min-width:1000px) {
    .categories .cat.cat-5 {
        margin-right: 10px;
    }
    .categories .cat.cat-6 {
        display: flex;
        margin-right: 0px;
    }
    .cat .cat-circle {
        max-width: 130px;
        max-height: 130px;
    }
}

@media screen and (min-width:1100px) {
    .categories .cat.cat-5 {
        margin-right: 10px;
    }
    .categories .cat.cat-6 {
        display: flex;
        margin-right: 0px;
    }
    .cat .cat-circle {
        max-width: 140px;
        max-height: 140px;
    }
    .categories .cat-title {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:1200px) {
    .categories .cat.cat-6 {
        margin-right: 10px;
    }
    .categories .cat.cat-7 {
        display: flex;
        margin-right: 0px;
    }
    .cat .cat-circle {
        max-width: 140px;
        max-height: 140px;
    }
    .categories .cat {
        margin: auto 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1300px) {
    .list-category {
        max-width: 1300px;
    }
    .cat .cat-circle {
        max-width: 150px;
        max-height: 150px;
    }
    .list-category .list-cat-title {
        font-size: 1.8rem;
    }
    .list-category .categories {
        margin-top: 20px;
    }
}
