:root {
    --color-principal: #FF6B15;
    --bgcolor-principal: #F5F5F5;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-disabled: #A6A7AC;
    --color-success: #388E3C;
    --color-failure: #E91E63;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*    font-size: 1rem;*/
}


/*html*/

html {
    font-size: 16px;
}


/* Body */

body {
    /*    background-color: var(--color-black);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
