/* Define colors used */

:root {
    --bg-color-menu-top: #11bfe8;
    --bg-color-menu-bottom: #1ecbf4;
    --bg-color-main-body: #d5d7d8;
    --color-white: #ffffff;
    --color-orange-hanouti: #ff4e00;
    --color-ecommerce: #262626;
    --color-black: #000000;
    --color-ecommerce-opacity: rgba(38, 38, 38, 0.45);
    --bg-color-footer-top: #232f3e;
    --bg-color-footer-bottom: #445268;
}


/* All */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


/* The body */

body {
    background-color: var(--bg-color-main-body);
}


/* The header */

#header {
    background-color: var(--color-white);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo */

#logo {
    display: block;
    text-align: end;
    box-sizing: border-box;
}

#ecommerce {
    display: block;
    margin-top: -1rem;
}


/* Search */

#header #search {
    width: 100%;
    height: 70%;
    margin: 0 5vw;
}

#header #search form {
    height: 100%;
    display: flex;
    justify-content: center;
}

.search-default {
    display: inline-block;
    border: none;
    height: 100%;
}

.search-text {
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid var(--color-orange-hanouti);
    border-top: 1px solid var(--color-orange-hanouti); */
}

.category-select,
.search-button {
    width: max-content;
    /* border: 1px solid var(--color-orange-hanouti); */
}

.category-select {
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

.search-button {
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}


/* User setting */

#user-setting {
    display: flex;
    flex-direction: row;
}

#cart,
#signin {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin span {
    width: max-content;
}


/* The background landing page */

#bg-welcome {
    position: relative;
    height: 79vh;
    width: 100%;
    overflow: hidden;
}

#bg-welcome:before {
    content: '';
    background-color: var(--bg-color-menu-top);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    -webkit-border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    -moz-border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    -ms-border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    -o-border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    transform: scaleX(1.4);
    -webkit-transform: scaleX(1.4);
    -moz-transform: scaleX(1.4);
    -ms-transform: scaleX(1.4);
    -o-transform: scaleX(1.4);
}


/* The container */

#container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -42rem;
}

#front-welcome {
    height: 27rem;
    width: 70%;
    background-color: var(--color-ecommerce);
}


/* Categories title */

#pop-cat {
    width: 70%;
    height: 20rem;
    box-sizing: border-box;
}

#container #pop-cat a,
#container #stores-around a,
#pop-prod-title span a,
#rec-prod-title span a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#container #pop-cat span {
    font-family: Roboto, sans-serif;
}


/* listes des categories */

#pop-cat-items {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

#pop-cat-items .item {
    width: 10rem;
    height: 10rem;
    border-radius: 50% 50%;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    -ms-border-radius: 50% 50%;
    -o-border-radius: 50% 50%;
}


/* Stores around */

#stores-around,
.pop-prod,
.rec-prod {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#stores-around-items,
.pop-prod-items,
.rec-prod-items {
    width: 100%;
    height: 17vw;
    display: flex;
    justify-content: space-between;
}

.store,
.prod,
.rec {
    width: 19.5%;
    height: 100%;
}

.store-img,
.prod-img,
.rec-img {
    height: 80%;
    width: 100%;
}

.store-desc,
.prod-desc,
.rec-desc {
    height: 19.5%;
    width: 100%;
}


/* Pub ou post */

.pub-post {
    height: 8rem;
    width: 70%;
}


/* Les plus */

.something-else {
    height: 20rem;
    width: 70%;
}


/* The footer */

#footer {
    height: 100rem;
    width: 100%;
}


/* Utilities */


/* Margin utilities */

.mxr-small {
    margin-right: 0.5rem;
}

.mx-1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mxl-1 {
    margin-left: 1.5rem;
}

.mxl-2 {
    margin-left: 2rem;
}

.mxl-3 {
    margin-left: 3rem;
}

.mxl-5 {
    margin-left: 5rem;
}

.mxr-1 {
    margin-right: 1.5rem;
}

.mxr-2 {
    margin-right: 2rem;
}

.mxr-3 {
    margin-right: 3rem;
}

.mxr-5 {
    margin-right: 5rem;
}

.myb-1 {
    margin-bottom: 1.5rem;
}

.myb-2 {
    margin-bottom: 2rem;
}

.myb-3 {
    margin-bottom: 3rem;
}

.myb-5 {
    margin-bottom: 5rem;
}

.my-1 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.my-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.my-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.my-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.myt-1 {
    margin-top: 1.5rem;
}

.myt-2 {
    margin-top: 2rem;
}

.myt-3 {
    margin-top: 3rem;
}

.myt-5 {
    margin-top: 5rem;
}


/* Padding utilities */

.px-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.pyb-1 {
    padding-bottom: 1.5rem;
}

.py-1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pyt-1 {
    padding-top: 1.5rem;
}

.pyt-2 {
    padding-top: 2rem;
}

.pyt-3 {
    padding-top: 3rem;
}

.pyt-4 {
    padding-top: 4rem;
}

.pyt-5 {
    padding-top: 5rem;
}


/* Font size utilities */

.fs-small {
    font-size: 1rem;
}

.fs-1 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-5 {
    font-size: 5rem;
}


/* Font weight */

.fw-b {
    font-weight: bold;
}


/* Colors utilities */

.col-primary {
    color: var(--color-orange-hanouti);
}

.col-black {
    color: var(--color-black);
}

.bgcol-primary {
    background-color: var(--color-orange-hanouti);
}

.bgcol-test {
    background-color: var(--color-ecommerce-opacity);
}

.bgcol-white {
    background-color: var(--color-white);
}